.postHeading {
  display: flex;
  flex-direction: column;
  margin: 0 0 2.5rem 0;
  gap: 0.7rem;
}

.postHeading h1 {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.postHeading header p {
  font-size: 0.9rem;
}

.postHeading a {
  text-decoration: none;
}
